body {
    background: rgb(7, 7, 22);
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.logoAlura {
    margin: 3% 0 0 3%;
    width: 5vw;
    height: 8vw;
    position: absolute;
}

.logo-linkedin {
    margin: 40% 0 0 2.3%;
    width: 6.5vw;
    height: 6.5vw;
    position: absolute;
    border-radius: 50%;
    border: none;
}

.logo-github {
    margin: 44% 0 0 1.8%;
    width: 8vw;
    height: 5.33vw;
    position: absolute;
    border-radius: 50%;
}

.logo-github:hover,
.logo-linkedin:hover {
    border-color: rgb(0, 153, 255);
    box-shadow: 0px 0px 20px rgb(0, 149, 248);
    transform: scale(1.1);
    transition: 1s all;
}

.contenedor-padre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#primer-textarea {
    width: 80vw;
    height: 50vh;
    margin: 10% 0 2% 0;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 4vw;
    border: none;
    background-color: rgb(7, 7, 22);
    opacity: 0.5;
    color: whitesmoke;
    resize: none;
    border-radius: 5%;
}

#primer-textarea::placeholder {
    position: absolute;
    font-size: 4vw;
    color: whitesmoke;
}

#primer-textarea:focus {
    outline: none;
    border-color: transparent;
}

.condiciones {
    white-space: nowrap;
    margin: 2% 0 0 0;
}

.signo-exclamacion {
    width: 1vw;
    height: 1vw;
    background-color: rgb(2, 19, 37);
    border-radius: 50%;
    padding: 0.3vw;
    display: inline-block;
    vertical-align: middle;
}

.parrafo-condiciones {
    display: inline-block;
    vertical-align: middle;
}

textarea::placeholder {
    font-family: 'Quicksand', sans-serif;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 2% 0 0 0;
}

.boton-encriptar {
    width: 34vw;
    height: 6.7vw;
    font-size: 1.6vw;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: none;
    background-color: rgb(7, 7, 22);
    color: white;
}

.boton-encriptar:hover,
.boton-copiar:hover,
.boton-desencriptar:hover {
    transform: scale(1.1);
    transition: 1s all;
    font-size: 2vw;
    border-color: rgb(0, 153, 255);
    box-shadow: 0px 0px 20px rgb(0, 149, 248);
}

.boton-desencriptar {
    width: 34vw;
    height: 6.7vw;
    font-size: 1.6vw;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    border: none;
    background-color: rgb(15, 15, 46);
    color: rgb(255, 255, 255);
}

.segundo-textarea {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#exibidor-mensaje {
    width: 30vw;
    height: 41.8vh;
    margin: 25% 0 5% 10%;
    background: linear-gradient(rgb(7, 7, 22), rgb(255, 255, 255));
    font-family: 'Quicksand', sans-serif;
    font-size: 4vw;
    padding: 10px;
    border-radius: 10%;
    opacity: 0.5;
    resize: none;
    border: none;
    text-align: center;
}

#parrafo-exibidor {
    display: flex;
    flex-flow: column wrap;
    gap: 0.3vw;
    position: absolute;
    font-size: 2vw;
    color: black;
    font-weight: bold;
    font-style: italic;
    margin: 20% 0 0 9%;
}

.imagen-gato {
    position: absolute;
    margin: 0 0 0 3%;
    width: 30vw;
    height: 30vw;
}

.boton-copiar {
    width: 34vw;
    height: 6.7vw;
    font-size: 1.6vw;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    padding: 2.4vw;
    margin: 10% 0 8% 8%;
    border: none;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
}
