
@media screen and (max-width: 480px) {
    body {
        background-color: red;
    }

    .logoAlura {
        margin: 2% 0 0 2%;
        width: 24px;
        height: 36px;
    }

    .logo-linkedin {
        margin: 35% 0 0 1.8%;
        width: 40px;
        height: 38px;
    }

    .logo-github {
        margin: 40% 0 0 1.4%;
        width: 48px;
        height: 32px;
    }

    .boton-encriptar,
    .boton-copiar,
    .boton-desencriptar {
        width: 100%;
        height: 48px;
        font-size: 14px;
        border-radius: 16px;
    }

    #primer-textarea {
        width: 90%;
        height: 200px;
        margin: 8% 0 2% 0;
        font-size: 20px;
    }

    .botones {
        margin: 4% 0 0 0;
    }

    .boton-copiar {
        width: 90%;
        height: 48px;
        font-size: 14px;
        border-radius: 16px;
        padding: 16px;
        margin: 6% 0 6% 5%;
    }

    #exibidor-mensaje {
        width: 90%;
        height: 280px;
        margin: 15% 0 5% 5%;
        font-size: 24px;
    }

    #parrafo-exibidor {
        margin: 15% 0 0 5%;
    }

    .imagen-gato {
        margin: 0 0 0 2%;
        width: 200px;
        height: 200px;
    }
}